.navbar-default {
	background-color: #002C77;
	border-color: rgb(73, 113, 149);
}
hotel-option-list-item.filter {
	margin-bottom: 5px;
	height: auto;
}
.navbar-default#main {
    height: 80px;
}
.bluish {
	color: rgb(21,122,177);
	font-weight: bold;
}
.button.button--block.filter {
	width: 80px;
	border-radius: 0px;
	font-size: 15px !important;
	font-weight: normal;
}