<div class="row">
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <hotel-option-list-item class="filter">
      <div class="epp-ctn epp-ctn--gtr-inside display-table--dt display-table--tb display-table--top--dt display-table--top--tb">
        <div class="epp-cl-3-4 epp-cl-1--ph">
        	<b>Filtros</b>
        </div>
      </div>
    </hotel-option-list-item>
    <hotel-option-list-item class="filter">
      <div class="row epp-ctn epp-ctn--gtr-inside display-table--dt display-table--tb display-table--top--dt display-table--top--tb">
        <div class="col-md-12 epp-cl-3-4 epp-cl-1--ph">
        	<div class="bluish">Nombre de hotel</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
        	<input type="text" ng-model="hotelNameFilter" class="form-control" placeholder="Ingrese el nombre el hotel" aria-describedby="basic-addon1">
        </div>
        <div class="col-md-2">
       		<button type="button" class="button button--secondary button--block button--md filter" ng-click="filtrarNombre()">Aceptar</button>
        </div>
      </div>
    </hotel-option-list-item>
    <hotel-option-list-item class="filter">
      <div class="epp-ctn epp-ctn--gtr-inside display-table--dt display-table--tb display-table--top--dt display-table--top--tb">
        <div class="epp-cl-3-4 epp-cl-1--ph">
        	<div class="bluish">Estrellas</div>
        </div>
      </div>

	  <div class="checkbox">
		<label>
			<input type="checkbox" ng-change="setearTodos()" ng-model="todos"><div><b>Todas las estrellas</b></div>
		</label>
	  </div>
      <div class="checkbox">
      	<label>
      		<input type="checkbox" ng-model="star5">
      		<span class="icon-star star--lg" ng-repeat="s in getNumber(5) track by $index">
				<div style="width:24px;height:24px;
							background-color: rgb(253,186,18);
							-webkit-mask: url(icons/filters/star.svg) no-repeat center;
							mask: url(icons/filters/star.svg) no-repeat center;" />
			</span>
      	</label>
      </div>
      <div class="checkbox">
      	<label>
      		<input type="checkbox" ng-model="star4">
      		<span class="icon-star star--lg" ng-repeat="s in getNumber(4) track by $index">
				<div style="width:24px;height:24px;
							background-color: rgb(253,186,18);
							-webkit-mask: url(icons/filters/star.svg) no-repeat center;
							mask: url(icons/filters/star.svg) no-repeat center;" />
			</span>
      	</label>
      </div>
      <div class="checkbox">
      	<label>
      		<input type="checkbox" ng-model="star3">
      		<span class="icon-star star--lg" ng-repeat="s in getNumber(3) track by $index">
				<div style="width:24px;height:24px;
							background-color: rgb(253,186,18);
							-webkit-mask: url(icons/filters/star.svg) no-repeat center;
							mask: url(icons/filters/star.svg) no-repeat center;" />
			</span>
      	</label>
      </div>
      <div class="checkbox">
      	<label>
      		<input type="checkbox" ng-model="star2">
      		<span class="icon-star star--lg" ng-repeat="s in getNumber(2) track by $index">
				<div style="width:24px;height:24px;
							background-color: rgb(253,186,18);
							-webkit-mask: url(icons/filters/star.svg) no-repeat center;
							mask: url(icons/filters/star.svg) no-repeat center;" />
			</span>
      	</label>
      </div>
      <div class="checkbox">
      	<label>
      		<input type="checkbox" ng-model="star1">
      		<span class="icon-star star--lg" ng-repeat="s in getNumber(1) track by $index">
				<div style="width:24px;height:24px;
							background-color: rgb(253,186,18);
							-webkit-mask: url(icons/filters/star.svg) no-repeat center;
							mask: url(icons/filters/star.svg) no-repeat center;" />
			</span>
      	</label>
      </div>
    </hotel-option-list-item>
  </div>
  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
	<hotel-option-list-item ng-repeat="hotel in hotels track by hotel.id">
      <div class="epp-ctn epp-ctn--gtr-inside display-table--dt display-table--tb display-table--top--dt display-table--top--tb">
        <div class="epp-cl-3-4 epp-cl-1--ph">
          <hotel-cluster>
            <div class="slider">
                <div class="ctn gallery-ctn">
                  <div class="epp-cl-1 gallery">
                    <div data-ng-style="{ 'background-image':'url(images/{{hotel.image}})', 'border-right': '4px solid #fff', 'border-left': '4px solid #fff' }" class="gallery-item" ; border-right: none; border-left: none;"></div>
                  </div>
                </div>
            </div>
            <div class="hotel-summary">
              <hotel-summary>
                <h6 class="bluish">{{hotel.name}}</h6>
                <star-rating stars-qty="{{hotel.stars}}">
					<span class="icon-star star--lg" ng-repeat="s in getNumber(hotel.stars) track by $index">
						<div style="width:24px;height:24px;
									background-color: rgb(253,186,18);
									-webkit-mask: url(icons/filters/star.svg) no-repeat center;
									mask: url(icons/filters/star.svg) no-repeat center;" />
					</span>
                </star-rating>
                <div class="amenities">
                  <span ng-repeat="amenity in hotel.amenities" class="icon amt-bar">
                  	<div style="width:24px;height:24px;
									background-color: black;
									-webkit-mask: url(icons/amenities/{{amenity}}.svg) no-repeat center;
									mask: url(icons/amenities/{{amenity}}.svg) no-repeat center;" />
                  </span>
                </div>
              </hotel-summary>
            </div>
          </hotel-cluster>
        </div>
        <div class="epp-cl-1-4 epp-cl-1--ph pricebox-ctn">
          <pricebox-difference>
            <div class="price-diference low">
              <div class="legend">Precio por noche por habitación</div>
              <div class="price"><span class="currency">ARS&nbsp;</span><span class="amount">{{hotel.price}}</span></div>
            </div>
            <button type="submit" class="button button--secondary button--block button--md">Ver hotel</button>
          </pricebox-difference>
        </div>
      </div>
	</hotel-option-list-item>
  </div>
</div>
